{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nie znaleziono książki</title>
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
</head>
<body>
<div class="container">
    <h1>404</h1>
    <h2>Nie znaleziono książki</h2>
    <p>Powrót do <a href="{{ path('app_book_list') }}">listy książek</a>.</p>
</div>
</body>
</html>
